In [4]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from matplotlib import pyplot as plt
import seaborn as sns

In [5]:
pd.set_option('max_columns', None)

In [6]:
data = pd.read_csv("DATA.csv",index_col = "UNITID")

In [7]:
data.rename(columns = {'\nTEACH_CERT':'TEACHER_CERT'}, inplace = True)
data.rename(columns = {'STATE_GRANT':'STATEGRANT'}, inplace = True)

In [8]:
data.drop('Unnamed: 0',axis=1,inplace=True)

In [9]:
data.head()

,TYPE,FORPROFIT,RELIGIOUS,StudyAbroad,TUITVARY,ROOM,BOARD,TUITION1_INDISTRICT_UG,FEE1_INDISTRICT_UG,TUITION2_INSTATE_UG,FEE2_INSTATE_UG,TUITION3_OUTSTATE_UG,FEE3_OUTOFSTATE_UG,INSTATE_TUITION_FEES_P,OUTSTATE_TUITION_FEES_P,OFFCAMPUS_SELF_EXP,OFFCAMPUS_FAMILY_EXP,ADMS_REUIRED_GPA,ADMS_REQUIRED_COLLEGEPREP,NUM_APPS_ADMIT,NUM_FULLTIME_FALLCOHRT,FULLTIME_RETENTIONRATE_SPRING,STUD_TO_FAL_RATIO,TOTAL_FIRSTYR_UG,PRCNT_FIRSTYR_UG,PRCNT_UG_AWARDEDAID,TOTAL_AID_UG,PRCNT_UG_AWARDED_PELL,TOTAL_AMOUNT_PELL_TOUG,PRCENT_FLOANS_TOUG,TOTAL_AMOUNT_FLOANS_UG,STATE,HLOFFER,TOTAL_SALARY_FT_CONTRACT,DUAL_ENROLLMENT,AP_CREDIT,TEACHER_CERT,COUNSELING_SERVICES,EMPLOYMENT_SERVICE,ACADEMIC_LIBRARY,TUITION_GURANTEE,TUITION_PAYMENTPLAN,ATHASSOC,TOTAL_ASSETS,TOTAL_LIABILITIES,TOTAL_SPENT_ACADEMICSUPP,TOTAL_SPENT_STUDENTSS,TOTAL_PELL,STATEGRANT,LOCAL_GRANT,DISCOUNTSAPPLIED_TO_TUTFEES
UNITID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100654,1,0,0,1,1,1,1,8610,1414,8610,1414,17220,1414,10024,18634,3090,3440,1,0,9855,1688,54,18,1688,32,87,45409382,71,19916507,75,28131849,AL,9,16100143,1,1,1,1,1,1,0,1,1,278440664,263028799,7257779,27527791,18427393,176182,0,22985068
100706,1,0,0,1,1,1,1,9730,1608,9730,1608,22126,1608,11338,23734,4076,4076,1,0,5793,1489,82,19,1489,19,72,58435613,24,8533685,39,20051487,AL,9,27356289,1,1,1,1,1,1,0,1,1,521103730,418779906,12878882,20821717,9005275,109283,0,50114488
100724,1,0,0,1,1,1,1,8328,2740,8328,2740,16656,2740,11068,19396,4228,4228,1,0,7027,1000,62,15,1000,27,93,29288349,74,13341998,78,27329106,AL,9,0,1,1,1,1,1,1,0,1,1,325537085,354313634,12928881,15714772,11454301,170200,0,10759214
100751,1,0,0,1,1,1,0,10780,840,10780,840,30250,840,11620,31090,4620,5692,1,1,39560,6734,87,20,6734,21,67,302907289,17,26353781,36,76675367,AL,9,125001923,1,1,1,1,1,1,0,1,1,4881510109,2542095875,103079114,60453485,27196901,772030,0,275547610
100830,1,0,0,1,1,1,0,7992,868,7992,868,17952,868,8860,18820,3830,3830,1,0,4606,602,70,16,602,13,77,26325259,47,11282206,54,16818775,AL,9,12101578,1,1,1,1,1,1,0,1,1,184716313,182619344,4592684,7303651,11011844,105571,0,15969905

In [10]:
# fixing 0 on salary column

In [11]:
data["TOTAL_SALARY_FT_CONTRACT"].describe()

count    1.240000e+03
mean     2.168918e+07
std      4.101734e+07
min      0.000000e+00
25%      1.591197e+06
50%      6.950012e+06
75%      2.165205e+07
max      4.183766e+08
Name: TOTAL_SALARY_FT_CONTRACT, dtype: float64

In [12]:
Average = data["TOTAL_SALARY_FT_CONTRACT"].mean()
data["TOTAL_SALARY_FT_CONTRACT"].replace(0,Average,inplace=True)

In [13]:
data["TOTAL_SALARY_FT_CONTRACT"].describe()

count    1.240000e+03
mean     2.627189e+07
std      3.952124e+07
min      9.216000e+03
25%      5.925286e+06
50%      1.777987e+07
75%      2.171926e+07
max      4.183766e+08
Name: TOTAL_SALARY_FT_CONTRACT, dtype: float64

In [14]:
data.columns

Index(['TYPE', 'FORPROFIT', 'RELIGIOUS', 'StudyAbroad', 'TUITVARY', 'ROOM',
       'BOARD', 'TUITION1_INDISTRICT_UG', 'FEE1_INDISTRICT_UG',
       'TUITION2_INSTATE_UG', 'FEE2_INSTATE_UG', 'TUITION3_OUTSTATE_UG',
       'FEE3_OUTOFSTATE_UG', 'INSTATE_TUITION_FEES_P',
       'OUTSTATE_TUITION_FEES_P', 'OFFCAMPUS_SELF_EXP', 'OFFCAMPUS_FAMILY_EXP',
       'ADMS_REUIRED_GPA', 'ADMS_REQUIRED_COLLEGEPREP', 'NUM_APPS_ADMIT',
       'NUM_FULLTIME_FALLCOHRT', 'FULLTIME_RETENTIONRATE_SPRING',
       'STUD_TO_FAL_RATIO', 'TOTAL_FIRSTYR_UG', 'PRCNT_FIRSTYR_UG',
       'PRCNT_UG_AWARDEDAID', 'TOTAL_AID_UG', 'PRCNT_UG_AWARDED_PELL',
       'TOTAL_AMOUNT_PELL_TOUG', 'PRCENT_FLOANS_TOUG',
       'TOTAL_AMOUNT_FLOANS_UG', 'STATE', 'HLOFFER',
       'TOTAL_SALARY_FT_CONTRACT', 'DUAL_ENROLLMENT', 'AP_CREDIT',
       'TEACHER_CERT', 'COUNSELING_SERVICES', 'EMPLOYMENT_SERVICE',
       'ACADEMIC_LIBRARY', 'TUITION_GURANTEE', 'TUITION_PAYMENTPLAN',
       'ATHASSOC', 'TOTAL_ASSETS', 'TOTAL_LIABILITIES',
       'TOTAL_SPENT_ACADEMICSUPP', 'TOTAL_SPENT_STUDENTSS', 'TOTAL_PELL',
       'STATEGRANT', 'LOCAL_GRANT', 'DISCOUNTSAPPLIED_TO_TUTFEES'],
      dtype='object')

In [15]:
data_set = pd.get_dummies(data, columns=['STATE'])

In [16]:
# HLOFFER dummy variable 
data_set = pd.get_dummies(data_set,columns=["HLOFFER"])

In [17]:
data_set.rename(columns = {'HLOFFER_5':'Highest_Bachelor'}, inplace = True)
data_set.rename(columns = {'HLOFFER_6':'Highest_PostBachelor'}, inplace = True)
data_set.rename(columns = {'HLOFFER_7':'Highest_Masters'}, inplace = True)
data_set.rename(columns = {'HLOFFER_8':'Highest_PostMasters'}, inplace = True)
data_set.rename(columns = {'HLOFFER_9':'Highest_Doc'}, inplace = True)

In [18]:
print(data_set["Highest_Bachelor"].sum())
print(data_set["Highest_PostBachelor"].sum())
print(data_set["Highest_Masters"].sum())
print(data_set["Highest_PostMasters"].sum())
print(data_set["Highest_Doc"].sum())

161
1
308
97
673

In [19]:
data_set.drop('Highest_PostBachelor',axis=1,inplace=True)

In [20]:
data_set.to_csv("finaldata.csv")