In [1]:
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
sfa1920 = pd.read_csv("sfa1920.csv")
ef2020d= pd.read_csv("ef2020d.csv")
adm2020= pd.read_csv("adm2020.csv")
ic2020_ay= pd.read_csv("ic2020_ay.csv")
ic2020= pd.read_csv("ic2020.csv")
hd2020= pd.read_csv("hd2020.csv")
sal2020_is= pd.read_csv("sal2020_is.csv")
ic2020_2 = pd.read_csv("ic2020_2.csv")
finance = pd.read_csv("combinedfs.csv")

In [4]:
ic2020_ay.head()

,UNITID,TUITION1,FEE1,TUITION2,FEE2,TUITION3,FEE3,CHG2AY3,CHG3AY3,CHG8AY3,CHG9AY3
0,100654,8610,1414,8610,1414,17220,1414,10024,18634,3090,3440
1,100663,8568,0,8568,0,20400,0,8568,20400,5555,5555
2,100690,9000,950,9000,950,9000,950,6950,6950,1600,1600
3,100706,9730,1608,9730,1608,22126,1608,11338,23734,4076,4076
4,100724,8328,2740,8328,2740,16656,2740,11068,19396,4228,4228

In [3]:
data_merge1 = reduce(lambda left, right:  
                    pd.merge(left , right,
                              on = ["UNITID"]),
                     [ic2020,ic2020_ay ,adm2020,ef2020d,sfa1920,hd2020,sal2020_is,ic2020_2,finance])
data_merge1.shape

(1751, 60)

In [5]:
data_merg1= data_merge1.dropna(axis=0)

In [6]:
data_merge1.shape

(1751, 60)

In [14]:
data_merge1.drop('Unnamed: 10',axis=1, inplace=True)
data_merge1.drop('Unnamed: 11',axis=1, inplace=True)
data_merge1.drop('Unnamed: 12',axis=1, inplace=True)
data_merge1.drop('Unnamed: 13',axis=1, inplace=True)
data_merge1.drop('Unnamed: 14',axis=1, inplace=True)
data_merge1.drop('Unnamed: 15',axis=1, inplace=True)

In [18]:
data_merge1.shape

(1751, 54)

In [19]:
data_merge1.to_csv("merged_data.csv")